<h1>
    Edit Question
</h1>

<div>
<%= form_for @question, url: contest_question_type_question_path(@question_type.contest_id, @question_type, @question.id) do |f| %>
    <%= render 'fields', :f => f %>
    <%= f.submit "Update"%>
<% end %>
</div>
