<%= button_to 'Back', Contest.find(params[:contest_id]), :method => :get %>
<h1>
    Edit Project
</h1>
<div class="row">
<%= form_for([@contest, @project], :html => {class: "col-xs-3"}) do |f| %>
    <%= render 'fields', :f => f %>
    <%= f.submit "Update", class: "btn btn-default"%>
<% end %>
</div>
	