<%= button_to 'Back', 'javascript:history.go(-1);' %>
<h1>
    Edit Question Type
</h1>

<div>
<%= form_for([@contest, @question_type]) do |f| %>
    <%= render 'fields', :f => f %>
    <%= f.submit "Update" %> 
<% end %>
</div>
