<%= button_to 'Back', 'javascript:history.go(-1);' %>
<h1>
    Edit Question Type
</h1>
<div class="row">
<%= form_for([@contest, @question_type], html: {class: "col-xs-3"}) do |f| %>
    <%= render 'fields', :f => f %>
    <%= f.submit "Update", class: "btn btn-default" %>
<% end %>
</div>
